body {
    width: 300px;
    margin: 20px;
}

main {
    background-color: paleturquoise;
    padding: 16px;
}

header {
    background-color: #F1F1F1;
    text-align: left;
    padding: 20px;
  }

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
    padding: 24px grey;
}

nav {
    border-bottom: 1px;
    padding: 16px black;
}

h1{
        background-color: whitesmoke;
}

h3:hover {
    background-color: powderblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: rgb(216, 47, 137);
    padding: 5px;
    border: 5px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}
